.submitModal {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    width: 644px;
    height: 386px;
    margin: 30vh auto 0 auto;
    z-index: 1000;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.16;
    color: #303233;
    font-weight: 700;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
  }
}
