.form_radio_btn {
	display: inline-block;
	margin: 0 4px 0 0;
	border: none;
	background-color: #FFFFFF;
	overflow: hidden;
	border-radius: 6px;
}


.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #303233;
	color: #FFFFFF;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

