.form {
    background-color: #e9eaee;
    border-radius: 20px;
    padding: 80px 96px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 719px 405px;
    gap: 60px 124px;

    &__title {
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
        text-align: left;
        grid-column: span 2;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        // width: "100%",
        max-width: 719px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__box {
        border: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 195px minmax(auto, 508px);
        justify-content: flex-start;
    }

    &__subtitle {
        margin: 0;
        padding: 0;
        padding-right: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: left;
    }

    &__required {
        color: #d6001d;
    }

    &__input-text {
        align-self: flex-start;
        // margin-bottom: 20px;
        padding-left: 16px;
        border: 1px solid #babdbf;
        border-radius: 8px;
        max-width: 100%;
        width: 100%;
        height: 46px;
        box-sizing: border-box;
        background-color: #fff;
        // color: #959799;
        color: black;
        outline: none;

        &::placeholder {
            color: #959799;
        }

        &_small{
            margin-right: 16px;
            max-width: 194px;
            width: 194px;
        }

        &_area {
            resize: none;
            overflow: auto;
            height: 128px;
            padding: 10px 12px;
        }
    } 

    &__input-small-wrapper{
        display: flex;
        align-items: flex-start;
    }

    &__btn-popup {
        padding: 0;
        width: fit-content;
        background-color: transparent;
        text-align: left;
        border: none;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 134%;
        color: #1785e5;
        cursor: pointer;
    }

    &__chekbox-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }

    &__box-title {
        padding-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: left;
    }

    &__radio {
        // accent-color: #fff;
        // background-color: #1785e5;
        accent-color: #1785e5;

    }

    &__radio-wrapper {
        display: flex;
        flex-direction: row;
        }

    &__btn-wrapper {
        // padding-top: 60px;
        display: flex;
        flex-direction: row;
        gap: 16px
    }

    &__img{
        width: 405px;
        height: 520px;
        object-fit: contain;
        object-position: center;
        border-radius: 8px;
        background-color: #aab0b0;

    }

    &__btn {
        cursor: pointer;
        width: 194px;
        height: 48px;
        background-color: #1785e5;
        color: #fff;
        border-radius: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        border: none;

        &_close {
            background-color: transparent;
            color: #1785e5;
            width: 89px;
            font-weight: 400;
        }

        &_previous {
            background-color: #e8f4ff;
            color: #1785e5;

        }
    }
}

